{% extends "layout.html" %}
{% block body %}

<!-- hero section -->
<header class="masthead" style="background-image: url('/static/img/img5.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1><span>S</span>olvitur <span>S</span>olution </h1>
                    <p class="subheading">Specialize in Cybersecurity, Cyber Risk Management, Analytics and Cloud Consulting Services</p>
                    <button id="mybtn" type="button" class="btn btn-success">Swipe Up</button>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- hero section -->


<!-- image and content section -->


<div id="imgcon" class="container">
    <h1 id="detail">About Us</h1>
    <div class="row">

        <div id="img21" class="col-sm">
            <img src="../static/img/img21.jpg">
        </div>
        <div class="col-sm para">
            <h1>About Solvitur Solution</h1>
            <p>Solvitur Systems is an innovative Information Technology consulting firm specializing in cybersecurity,
                information assurance, and cloud computing. Our team has experience working with a broad and diverse
                client base representing a wide range of industries, including Federal, State & Local Government
                Agencies, Non-Profit Organizations, Telecom & Media, Financial Services and Information Technology.
            </p>
        </div>

    </div>
</div>



<!-- image and content section -->




{% endblock %}